body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #f1ebe0; /* Cor de fundo mais amarelada */
  color: #333;
  border-left: 10px double black;
  border-right: 10px double black;
  padding: 20px;
  border-top: 8px double black;
  border-bottom: 8px double black;
}

.showcase {
  background: no-repeat right/cover;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.showcase .overlay {
  background: rgba(0, 0, 0, 0.4);
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article {
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
}

a {
  color: #326891;
}

article {
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Adicionada sombra */
}

.modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 50%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.about {
  cursor: pointer;
}
.subscribe {
  cursor: pointer;
}

.contact {
  cursor: pointer;
}

.light-mode {
  background-color: #f1e8d9; /* Cor de fundo mais amarelada */
  color: #080808;
}

.dark-mode {
  background-color: #090908; /* Cor de fundo escura */
  color: #0c0b0b;
}

.color-white {
  color: white;
}

.dark-mode-article {
  color: white;
  box-shadow: 0 4px 8px 0 rgba(188, 185, 185, 0.4), 0 6px 20px 0 rgba(212, 212, 212, 0.19); /* Adicionada sombra */
}

.mode{
  cursor: pointer;
}

.article-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.share-button {
  font-family: 'Times New Roman', Times, serif;
  color: rgb(62, 128, 182);
  padding: 5px 12px;
  border-radius: 6px;
  cursor: pointer;
  float: right;
  text-decoration: underline;
}
.pagination-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
button {
  
  font-size: 1em;
  cursor: pointer;
  color: rgb(62, 128, 182);
  
}

button[disabled] {
  background-color: #dad1d1; /* some gray */
  cursor: not-allowed;
}




