body {
  font-family: 'Times New Roman', Times, serif;
    background-color: #eee;
}

.showcase{
  background: url("https://images.pexels.com/photos/6802042/pexels-photo-6802042.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat right/cover; 
  height: 500px;
  display: flex;
  flex-direction: column;

}

.showcase .overlay{
  background: rgba(0,0,0,0.2);
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1024px){
  .showcase {
    background: url("https://images.pexels.com/photos/6802042/pexels-photo-6802042.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat right/cover; 

  }
}